<!-- 
<header class="container-fluid">
  <div class="row">


      <nav class="navbar navbar-superior fixed-top">

          <a class="navbar-brand" style="color:white" href="#">ShopGallery</a>

        
            
            <form class="form-inline mr-20 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Que estas buscando?" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link nav-link-superior" href="#">Bolsa2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
               
                <a href="#" title="Website name"><i style="color:white" class="fa fa-shopping-bag"></i></a>



              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Ayuda</a>
              </li>
             
            </ul>
        
 
        </nav>

  </div>
</header>     -->


<header class="container-fluid encabezado-sitio-container">

    <div class="row align-items-center">

      <div class="col-md-4">
          <a routerLink="/">
              <img src="assets/img/logo_shopgallery.svg" height="50%" sizes="max-width:200px" class="logo align-self">
          </a>
      </div>  



      <div class="input-group col-md-4 medio align-self-center">  
          <form class="form-inline">
              <input class="form-control combo-busqueda txt-busqueda" type="text" placeholder="Que estas buscando?">
              <span class="input-group-btn">  
                  <button class="btn btn-busqueda combo-busqueda" type="button">                
                      <i class="fa fa-search"></i>
                  </button>
            </span>
          </form>
      </div>



      <nav class="col-md-4 ultimo  align-self-center">

        <div class="botonera">
            <ul>
                <li>
                  <a href="index.html" title="bolsa"><i style="color:white" class="fa fa-shopping-bag"></i> | </a>
                </li>
                <li>
                    <a routerLink="/bolsa-compras"  title="wishlist"><i style="color:white" class="fa fa-heart"></i> | </a>
                </li>
                <li>
                    <a href="index.html" title="bolsa"><i style="color:white" class="fa fa-question-circle"></i> Ayuda</a>
                </li> 
              </ul>
        </div>
        
      </nav>



    </div>  

  </header>
  



