/* .navbar-superior{
    background: rgb(255,82,0);
}

.nav-link-superior{
    color: white;
} */

.encabezado-sitio-container {
    background: rgb(255,82,0);
    height: 5rem;
}

img {
    /* margin-top: 20px;
    margin-left: 20px; */
    width: 250px;
    padding-top: 5px;
}

.combo-busqueda{
    margin-top: 0px;
}

.txt-busqueda{
    max-height: 30px;
    min-width: 300px;
    font-size: 12px;
}

input:focus{
    outline:none!important;
}

.btn-busqueda{
    font-size: 0.7rem;
}


.botonera ul{
    list-style: none;
}

.botonera i {
    color: white;
    font-size: 1.2rem;
    background-color: rgb(255,82,0);
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.botonera a {
    color:white;
}

.botonera ul li {
    display: inline-block;
}

.botonera span {
    color: white;
}