
<nav class="navbar navbar-expand-md navbar-inferior">
  <!-- <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-link-inferior" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-inferior" href="#">Link</a>
      </li>
      <ng-template #anonymousUser>
        <li *ngIf="!(user$ | async)" class="nav-item">
          <a class="nav-link nav-link-inferior" routerLink="login">Login</a>
        </li>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle nav-link-inferior" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.displayName }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="bolsa-compras">Mi Bolsa de Compras</a>
          <a class="dropdown-item" routerLink="admin/productos">Administrar Productos</a>
          <a class="dropdown-item" (click)="logout()">Cerrar Sesion</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
