
<p>
    <a routerLink="/admin/productos/nuevo" id="btn-nuevo-prod" class="btn btn-primary">Nuevo Producto</a>
</p>

<p>
  <input 
    #busqueda
    (keyup)="filter(busqueda.value)"
    type="text" class="form-control" placeholder="Buscar Producto...">
</p>



<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Descuento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of productosFiltrados">
      <td>{{ p.payload.val().nombre }}</td>
      <td>{{ p.payload.val().precio }}</td>
      <td>{{ p.payload.val().descuento }}</td>
      <td>
        <a [routerLink]="['/admin/productos/', p.payload.key]">Editar</a>
      </td>
    </tr>
  </tbody>
</table>